<header id="header">
		<div class="header_left">
			<div class="hlogo">
				<h1>abcd</h1>
			</div>
			<ul class="gnav">
				<li><a href="">exchange</a></li>
				<li><a href="">margin trading</a></li>
				<li><a href="">lending</a></li>
			</ul>
		</div>
		<div class="header_right">
			<div class="message">
				<p><a href="">Sign in &nbsp</a> or <a href="">&nbsp Create an Account &nbsp</a> to start trading</p>
			</div>
			<div class="alertstab">
				<i class="fa fa-bell"></i>
			</div>
		</div>
	</header>