<div class="l-right">
				<div class="market" id="market">
					<h3 class="c-title1">markets</h3>
					<div class="tab">
						<button class="tablinks" onclick="openCity(event, 'btc')">BTC</button>
						<button class="tablinks" onclick="openCity(event, 'eth')">ETH</button>
						<button class="tablinks" onclick="openCity(event, 'usdt')" id="defaultOpen">USDT</button>
					</div>

					<div id="btc" class="tabcontent">
						<table class="c-table1">
							<tr>
								<th>Coin</th>
								<th>Price</th>
								<th>Volume</th>
								<th>Change</th>
								<th>name</th>
							</tr>
							<tr data-url="BTC_DASH">
								<td>DASH</td>
								<td>31313132</td>
								<td>21231312</td>
								<td>1313213313</td>
								<td>1231231313</td>
							</tr>
							<tr data-url="BTC_ETH">
								<td>ETH</td>
								<td>123213123</td>
								<td>213213</td>
								<td>1231231</td>
								<td>12321321</td>
							</tr>
							<tr data-url="BTC_LTC">
								<td>LTC</td>
								<td>132312313</td>
								<td>123132</td>
								<td>21312313</td>
								<td>321312313</td>
							</tr>
							<tr data-url="BTC_REP">
								<td>REP</td>
								<td>1321313</td>
								<td>1321313</td>
								<td>12313213</td>
								<td>213313</td>
							</tr>
							<tr data-url="BTC_XMR">
								<td>XMR</td>
								<td>123213321</td>
								<td>21312313</td>
								<td>21312323</td>
								<td>12323</td>
							</tr>
							<tr data-url="BTC_XRP">
								<td>XRP</td>
								<td>45324532</td>
								<td>424254</td>
								<td>45242</td>
								<td>254274252</td>
							</tr>
							<tr data-url="BTC_ZEC">
								<td>ZEC</td>
								<td>31313132</td>
								<td>21231312</td>
								<td>1313213313</td>
								<td>1231231313</td>
							</tr>
						</table>
					</div>

					<div id="eth" class="tabcontent">
						<table class="c-table1">
							<tr>
								<th>Coin</th>
								<th>Price</th>
								<th>Volume</th>
								<th>Change</th>
								<th>name</th>
							</tr>
							<tr data-url="ETH_REP">
								<td>REP</td>
								<td>31313132</td>
								<td>21231312</td>
								<td>1313213313</td>
								<td>1231231313</td>
							</tr>
							<tr data-url="ETH_ZEC">
								<td>ZEC</td>
								<td>31313132</td>
								<td>21231312</td>
								<td>1313213313</td>
								<td>1231231313</td>
							</tr>
						</table>
					</div>

					<div id="usdt" class="tabcontent">
						<table class="c-table1">
							<tr>
								<th>Coin</th>
								<th>Price</th>
								<th>Volume</th>
								<th>Change</th>
								<th>name</th>
							</tr>
							<tr class="active" data-url="USDT_BTC">
								<td>BTC</td>
								<td>45324532</td>
								<td>424254</td>
								<td>45242</td>
								<td>254274252</td>
							</tr>
							<tr data-url="USDT_DASH">
								<td>DASH</td>
								<td>31313132</td>
								<td>21231312</td>
								<td>1313213313</td>
								<td>1231231313</td>
							</tr>
							<tr data-url="USDT_ETH">
								<td>ETH</td>
								<td>123213123</td>
								<td>213213</td>
								<td>1231231</td>
								<td>12321321</td>
							</tr>
							<tr data-url="USDT_LTC">
								<td>LTC</td>
								<td>132312313</td>
								<td>123132</td>
								<td>21312313</td>
								<td>321312313</td>
							</tr>
							<tr data-url="USDT_REP">
								<td>REP</td>
								<td>eqweqwe</td>
								<td>1321313</td>
								<td>12313213</td>
								<td>213313</td>
							</tr>
							<tr data-url="USDT_XMR">
								<td>XMR</td>
								<td>123213321</td>
								<td>21312313</td>
								<td>21312323</td>
								<td>12323</td>
							</tr>
							<tr data-url="USDT_XRP">
								<td>XRP</td>
								<td>45324532</td>
								<td>424254</td>
								<td>45242</td>
								<td>254274252</td>
							</tr>
							<tr data-url="USDT_ZEC">
								<td>ZEC</td>
								<td>31313132</td>
								<td>21231312</td>
								<td>1313213313</td>
								<td>1231231313</td>
							</tr>
						</table>
					</div>
				</div>

				<div class="notices">
					<h3 class="c-title1">Notices</h3>
					<div class="msg">
						<div class="info">
							On May 15, we're introducing more compelling, consistent pricing across the board. Read more
							<a href="https://poloniex.com/press-releases/2018.05.01-Coming-May-15-consistent-competitive-trading-fees/">
								<b><u>here</u></b>
							</a>.
						</div>
						<div class="by">Posted by <strong>The Circle Poloniex Team</strong> at 2018-05-01 18:45:56</div>
					</div>
					<div class="msg">
						<div class="info">
							We have received some questions on the upcoming Monero hard fork at block 1564965. We plan to pause XMR deposits and withdrawals starting at 5pm EST on April 29, and re-enable once the network stabilizes.  We do not plan to support XMV at this time, but you can choose to move your XMR to an exchange that supports multiple Monero forks. Stay tuned for more information on how we plan to approach listings, forks, swaps, and airdrops on Poloniex going forward.
						</div>
						<div class="by">
							Posted by <strong>The Circle Poloniex Team</strong> at 2018-04-27 17:06:40
						</div>
					</div>
					<div class="msg">
						<div class="info">
							The Circle-Poloniex Journey: Six Weeks In - https://poloniex.com/press-releases/2018.04.06-Circle-Poloniex-Journey-Six-Weeks-In/
						</div>
						<div class="by">
							Posted by <strong>The Circle Poloniex Team</strong> at 2018-04-06 02:40:00
						</div>
					</div>
					<div class="msg">
						<div class="info">
							We've been made aware of false reports coming from the creator of an impostor Poloniex app that the Poloniex platform has been compromised. Please note, the Poloniex platform has NOT been compromised and there is NOT a Poloniex app. This phishing scheme was aimed at various exchanges and the impostor has now chosen to publicly post sensitive user information of the victims - a highly unethical act.
						</div>
						<div class="by">Posted by <strong>Poloniex Team</strong> at 2018-03-03 01:15:04</div>
					</div>
					<div class="msg">
						<div class="info">
							Big news from the Poloniex team today! - https://poloniex.com/press-releases/2018.02.26-Poloniex-joins-Circle/
						</div>
						<div class="by">Posted by <strong>ultim8um</strong> at 2018-02-26 14:30:21</div>
					</div>
				</div>
			</div>